.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__top {
    padding: 0px 270px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    color: rgba(255, 255, 255, 0.637);
    p {
        margin-top: 10px;
      font-size: 12px;
    }

    &__right {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      p {
        margin: 0;
        padding-top:10px;
        padding-left: 10px;
        padding-right: 10px;
        width: 100px;
        height: 100%;
        border: 1px solid rgba(255, 255, 255, 0.326);
        border-top: none;
        border-bottom: none;
      }
    }
  }
  &__bottom {
    padding: 23px 270px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    &__left {
      display: flex;
      align-items: center;
      gap: 60px;

      ul {
        display: flex;
        align-items: center;
        gap: 30px;
        li{
            list-style: none;
            font-size: 14px;
            a{
                text-decoration: none;
                color: black;
            }
        }
      }
    }
    &__right__icons{
        font-size: 25px;
        display: flex;
        align-items: center;
        gap: 25px;
        }
  }
}
